<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1.jqgrid基础使用</title>
    <link rel="stylesheet" href="../../css/ui.common.css">
    <link rel="stylesheet" href="../../css/green/ui.jqgrid.css">
</head>

<body>

    <div class="grid-wrap mb20">
        <table id="grid">
        </table>
        <div id="page"></div>
    </div>​

    <button id="add">增加一条数据</button>
    <script src="../../js/common/libs/jquery/jquery-1.10.2.min.js"></script>
    <script src="../../js/common/plugins/jqgrid/js/jquery.jqGrid.src.js"></script>
    <script src="../../js/common/plugins/jqgrid/js/i18n/grid.locale-cn.js"></script>
    <script>
        $(function () {
            function sexFn(cellValue,options,rowObject) {
                if(cellValue == '0'){
                    return '男';
                }
                if(cellValue == '1'){
                    return '女';
                }
            }

            // 主要用到的参数
            // 1、align 定义单元格内容的位置(left,center,right)
            // 2、classes 设置列的css,多个class名称之间使用空格分隔
            // 3、editable 单元格是否可编辑
            // 4、fixed 列宽度是否要固定不可变
            // 5、formatter 格式化
            // 6、hidden 是否隐藏
            // 7、label 列的显示名称
            // 8、name 表格列的关键字
            // 9、sortable 是否可排序
            var colModel = [
                { name: 'id', label: '编号', width: '100', index: 'id',hidden:true }, 
                { name: 'name', label: '姓名', width: '100', index: 'name',align:'right' }, 
                { name: 'type', label: '类别', width: '100', index: 'type' }, 
                { name: 'sex', label: '性别', width: '100', index: 'sex',formatter:sexFn },
                { name: 'score', label: '分数' , width: '100' , index:'score',sortable:true}
            ];

            // 1.sortname 默认的排序列
            // 2.postData 此数组内容直接赋值到url上
            // -> 初始化grid
            $("#grid").jqGrid({
                // url -> 获取数据的地址
                url: 'http://localhost:8000/api/jqgridlist',
                // datatype -> 从服务器端返回的数据类型
                // -> 如果一开始页面让先弹出高级检索的情况,则可以使datatype先为local,最后在提交数据的时候再将datatype改为json
                datatype: 'json',
                colModel: colModel,
                pager: '#page',
                // -> rowNum是在页面需要显示的记录条数,这个参数是要被传到后台去的
                rowNum: 7,
                // -> 这个数组在页面上会成为select下拉的内容条数,可以选择修改需要展示的条数
                rowList: [5, 10, 15, 20],
                // -> multiselect定义是否可以多选,如果只想选择checkbox时才选择的话,需要把multiboxonly置为true
                multiboxonly:true,
                multiselect: true,
                loadComplete: function (data) {
                    console.log(data)
                    if (data !== '') {
                        var gridData = {};
                        res = data;
                        for (var i = 0; i < res.length; i++) {
                            var item = res[i];
                            gridData[item.id] = item;
                        }
                        console.log(gridData)
                        $("#grid").data('gridData', gridData);
                    } else {
                        console.log('无满足条件');
                    }
                },
                ondblClickRow: function() {
                    alert('双击行')
                },
                onSelectAll: function() {
                    alert('触发全选checkbook')
                },
                onSelectRow: function() {
                    alert('选择了行,只有当参数multiselect=true才可以使用该事件')
                }
            });
        });
        
        $("#add").click(function() {
            $("#grid").jqGrid('addRowData', 13, {"name":"SSSS","type":"p","sex":"0","score":90}).trigger('reloadGrid')
        });
        
    </script>
</body>

</html>