.ui-icon-ellipsis,.ui-icon-triangle-1-s {
	border: medium none;
	height: 100%;
	right: 0;
	top: 50%;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	cursor: pointer;
	overflow: hidden;
	position: absolute
}
.ui-icon-triangle-1-n{
	border: medium none;
	height: 100%;
	right: 0;
	top: -3px;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	cursor: pointer;
	overflow: hidden;
	position: absolute
}
.ui-icon-ellipsis {
	background: #FFF url(img/icon-select.gif) no-repeat scroll 55% 55%
}

.ui-icon-triangle-1-s {
	background-image: url(img/ui-icons.png);
	background-position-y: -16px;
}
.ui-icon-triangle-1-e {
	background-image: url(img/ui-icons.png);
	background-position-y: -16px;
}

.ui-icon-add,.ui-icon-del,.ui-icon-edit,.ui-icon-tick,.ui-icon-loading {
	display: inline-block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	line-height: 100px;
	vertical-align: middle;
	background: url(img/spr_icons.png) no-repeat
}

.ui-icon-add {
	background-position: -16px -144px
}

.ui-icon-del {
	background-position: -32px -144px
}

.ui-icon-add:hover {
	background-position: -16px -160px
}

.ui-icon-del:hover {
	background-position: -32px -160px
}

.ui-icon-edit {
	background-position: 0 -144px
}

.ui-icon-edit:hover {
	background-position: 0 -160px
}

.ui-icon-tick {
	background-position: -16px -176px
}

.ui-icon-loading {
	background: url(img/indicator.gif) no-repeat
}