<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2.bill可输入查询用法</title>
    <link rel="stylesheet" href="../../css/ui.common.css">
    <link rel="stylesheet" href="../../css/green/ui.icon.css">
    <link rel="stylesheet" href="../../css/green/ui.combo.css">
    <link rel="stylesheet" href="../../css/ui.bill.css">
</head>

<body>

    <div class="mb20">
        <label>供应商:</label>
        <span class="ui-combo-wrap" id="customer">
            <input type="text" name="" class="input-txt" autocomplete="off" value="" data-ref="date">
        </span>
    </div>

    <script src="../../js/common/libs/jquery/jquery-1.10.2.min.js"></script>
    <script src="../../js/common/plugins/combo/js/jquery.combo.js"></script>
    <script>
        $(function () {
            var $customer = $("#customer");
            var opts = {
                data:[{id:1,name:'a1'},{id:2,name:'a2'},{id:3,name:'a3'},{id:4,name:'a4'}],
                // -> 可以修改combo控件的宽高度
                width:300,
                // -> 控件需要显示的格式,row参数为当前行的数据对象
                formatText:function(row){
                    return row.id + ' '+row.name;
                },
                // -> 变成可输入的
                editable:true,
                value:'id',
                text:'name'
            };
            var customerCombo = $customer.combo(opts).getCombo();
        });
    </script>
</body>

</html>