@import url("pepper-ginder-custom.css");

/* just some styling */


#demos-list {padding: 0;}

#flairs {text-align: center;}
#flairs ul {list-style: none; padding: 0;}
#flairs li {display: inline;}

.demo {
	vertical-align: top;
	display: inline-block;
	margin: 1em 1%;
	width: 43.5%;
	background-color: rgba(0, 0, 0, .1);
	padding: 0 2%;
	border-radius: 10px;
}

.demo.full-row {
	width: 95%;
}

.demo ul, .demo ol {list-style-position: inside;}
.demo .box {
	float: left;
	margin: 0 1em 1em 0;
}

.example {
	color: #006400;
}

.important-note {
	font-weight: bold;
	color: #B22222;
}

.reference-to {
	font-size: large;
	font-weight: bold;
}

.code-box {clear:both;}
.code {
	padding: 5px;
	color: #333;
	background-color: white;
	font: small monospace;
}

.uimulti-state-active, .uimulti-widget-content .uimulti-state-active, .uimulti-widget-header .uimulti-state-active {
	background: #eee0e0;
	color: #fff;
}

/* begin: jQuery UI Datepicker moving pixels fix */
table.uimulti-datepicker-calendar {border-collapse: separate;}
/*.uimulti-datepicker-calendar td {border: 1px solid transparent;}*/
/* end: jQuery UI Datepicker moving pixels fix */

/* begin: jQuery UI Datepicker emphasis on selected dates */
.uimulti-datepicker .uimulti-datepicker-calendar .uimulti-state-highlight a {
	/*background: #743620 none;
	color: white;*/
	background: #33AAFF;
	color: #fff;
}
/* end: jQuery UI Datepicker emphasis on selected dates */


/* begin: jQuery UI Datepicker hide datepicker helper */
#uimulti-datepicker-div {display:none;}
/* end: jQuery UI Datepicker hide datepicker helper */
