<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1.switch基础应用</title>
    <link rel="stylesheet" href="../../css/green/ui.switchery.css">
    <!--[if lt IE 9]>
        <script src="../../js/common/libs/html5.js"></script>
    <![endif]-->
</head>

<body>

    <input type="checkbox" class="js-switch" id="work" />

    <br/>
    <input type="button" value="切换" id="SwitchToggle">
    <input type="button" value="开启" id="SwitchOpen">
    <input type="button" value="关闭" id="SwitchClose">
    <input type="button" value="获取状态" id="getVal">


    <script src="../../js/common/libs/jquery/jquery-1.10.2.min.js"></script>
    <script src="../../js/common/libs/jquery/jquery.metadata.js"></script>
    <script src="../../js/common/plugins/switchery/js/switchery.min.js"></script>
    <script src="../../js/common/ui.binding.js"></script>
    <script>
        $(function(){
            var $work = $('#work'),
                $SwitchToggle = $('#SwitchToggle'),
                $SwitchOpen = $('#SwitchOpen'),
                $SwitchClose = $('#SwitchClose'),
                $getVal = $('#getVal');
            
            $SwitchToggle.on('click',function(){
                // -> 执行切换效果
                $work.switchery().toggle();
            });

            $SwitchOpen.on('click',function(){
                // -> 执行打开操作
                $work.switchery().open();
            });

            $SwitchClose.on('click',function(){
                // -> 执行关闭操作
                $work.switchery().close();
            });

            $getVal.on('click',function(){
                // -> 获取当前状态
                console.log($work.switchery().isChecked());
            })
            
        });
    </script>
</body>

</html>